@model CreateProductDto
@{
	ViewData["Title"] = "CreateProduct";
	Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="chart-box">
				<h4>Yeni Ürün Ekleme Sayfası</h4>
				<br />
				<div class="bs-example" data-example-id="bordered-table">

					<form method="post">
						<label>Ürün Adı</label>
						<input type="text" class="form-control" asp-for="ProductName" />
						<br />
						<label>Ürün Açıklaması</label>
						<textarea class="form-control" asp-for="ProductDescription" rows="3"></textarea>
						<br />
						<label>Ürün Fiyatı</label>
						<input type="text" class="form-control" asp-for="ProductPrice" />
						<br />
						<label>Ürün Görseli</label>
						<input type="text" class="form-control" asp-for="ProductImageUrl" />
						<br />
						<label>Ürün Alt Açıklaması</label>
						<textarea class="form-control" asp-for="ProductSubDescription" rows="2"></textarea>
						<br />
						<label>Ürün İlan Görseli 1</label>
						<input type="text" class="form-control" asp-for="Image1" />
						<br />
						<label>Ürün İlan Görseli 2</label>
						<input type="text" class="form-control" asp-for="Image2" />
						<br />
						<label>Ürün İlan Görseli 3</label>
						<input type="text" class="form-control" asp-for="Image3" />
						<br />
						<label>Ürün İlan Görseli 4</label>
						<input type="text" class="form-control" asp-for="Image4" />
						<br />
						<label>Ürün Bilgisi</label>
						<textarea class="form-control" asp-for="ProductInfo" rows="2"></textarea>
						<br />
						<label>Ürün Kategorisi</label>
						@* <label>Ürün Kategorisi</label>
						<ul>
							@foreach (var item in ViewBag.CategoryValues as List<SelectListItem>)
							{
								<li>@item.Text - <strong>@item.Value</strong></li>
							}
						</ul>
						<br />
						<label>Seçilen Kategori ID</label>
						<input type="text" class="form-control" asp-for="CategoryID" placeholder="Yukarıdaki listeden ID'yi kopyalayıp buraya yapıştırın" /> *@

						@* <label>Ürün Kategorisi</label>
						@foreach (var item in  ViewBag.CategoryValues as List<SelectListItem>)
						{
							<div>
								<input type="radio" name="CategoryID" value="@item.Value" required /> @item.Text (@item.Value)
							</div>
						} *@

						@* @Html.DropDownListFor(x => x.CategoryID,
						new SelectList(ViewBag.CategoryValues, "Value", "Text"),
						"Lütfen bir kategori seçiniz",
						new { @class = "form-control", required = "required" }) *@

						<select class="form-control" style="min-height:50px !important;" asp-for="CategoryID" asp-items="ViewBag.CategoryValues"></select> 

						<br />
						<button class="btn btn-primary">Ürün Ekle</button>
					</form>

				</div>
			</div>
		</div>
	</div>
</section>



